body {
    font-family: Arial, sans-serif;
    background-image: url('https://github.com/NKGWsgk/SPK-illubo/raw/main/images/background.png');
    background-size: cover;
    background-repeat: no-repeat; /* 背景画像の繰り返しを防止 */
    background-position: center center; /* 背景画像を中央に配置 */
    text-align: center;
    padding: 20px;
    margin: 0;
    color: #333;
}
